[submodule "tools/adore_cli"]
	path = tools/adore_cli
	url = git@github.com:dlr-ts/adore_cli.git
[submodule "tools/ci_teststand"]
	path = tools/ci_teststand
	url = git@github.com:dlr-ts/ci_teststand.git
	ignore = untracked
	shallow = true
[submodule "vendor/websocketpp"]
	path = vendor/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	ignore = untracked
	shallow = true
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
	ignore = untracked
	shallow = true
[submodule "tools/lichtblick/lichtblick"]
	path = tools/lichtblick/lichtblick
	url = https://github.com/Lichtblick-Suite/lichtblick.git
	ignore = untracked
	shallow = true
[submodule "vendor/OptiNLC"]
	path = vendor/OptiNLC
	url = git@github.com:DLR-TS/OptiNLC.git
[submodule "vendor/mathematics_toolbox"]
	path = vendor/mathematics_toolbox
	url = git@github.com:DLR-TS/mathematics_toolbox.git
[submodule "ros2_workspace/src/ros2_messages/adore_ros2_msgs"]
	path = ros2_workspace/src/ros2_messages/adore_ros2_msgs
	url = git@github.com:DLR-TS/adore_ros2_msgs.git
[submodule "ros2_workspace/src/adore_simulated_vehicle"]
	path = ros2_workspace/src/simulated_vehicle
	url = git@github.com:DLR-TS/adore_simulated_vehicle.git
[submodule "mission_control"]
	path = ros2_workspace/src/mission_control
	url = git@github.com:DLR-TS/adore_mission_control.git
[submodule "ros2_workspace/src/adore_visualizer"]
	path = ros2_workspace/src/visualizer
	url = git@github.com:DLR-TS/adore_visualizer.git
[submodule "ros2_workspace/src/adore_decision_maker"]
	path = ros2_workspace/src/decision_maker
	url = git@github.com:DLR-TS/adore_decision_maker.git
[submodule "ros2_workspace/src/adore_trajectory_tracker"]
	path = ros2_workspace/src/trajectory_tracker
	url = git@github.com:DLR-TS/adore_trajectory_tracker.git
[submodule "adore_scenarios/adore_simulation_scenarios"]
	path = adore_scenarios/simulation_scenarios
	url = git@github.com:DLR-TS/adore_simulation_scenarios.git
[submodule "vendor/libOpenDRIVE/libOpenDRIVE"]
	path = vendor/libOpenDRIVE/libOpenDRIVE
	url = git@github.com:markomiz/libOpenDRIVE.git
[submodule "vendor/sumo/sumo"]
	path = vendor/sumo/sumo
	url = git@github.com:eclipse/sumo.git
[submodule "ros2_workspace/src/sumo_bridge"]
	path = ros2_workspace/src/interfaces/sumo_bridge
	url = git@github.com:DLR-TS/sumo_if_ros.git
[submodule "ros2_workspace/src/carla_bridge"]
	path = ros2_workspace/src/interfaces/carla_bridge
	url = git@github.com:dlr-ts/adore_if_carla.git
[submodule "ros2_workspace/src/ros2_messages/ros-carla-msgs"]
	path = ros2_workspace/src/ros2_messages/ros-carla-msgs
	url = git@github.com:carla-simulator/ros-carla-msgs.git
[submodule "vendor/ros2_observer"]
	path = vendor/ros2_observer
	url = git@github.com:DLR-TS/ros2_observer.git
[submodule "adore_scenarios/simulation_scenarios"]
	path = adore_scenarios/simulation_scenarios
	url = git@github.com:DLR-TS/adore_simulation_scenarios.git
[submodule "libraries/lib/adore_planning"]
	path = libraries/lib/adore_planning
	url = git@github.com:DLR-TS/adore_planning.git
[submodule "libraries/lib/adore_controllers"]
	path = libraries/lib/adore_controllers
	url = git@github.com:DLR-TS/adore_controllers.git
[submodule "libraries/lib/adore_map"]
	path = libraries/lib/adore_map
	url = git@github.com:DLR-TS/adore_map.git
[submodule "libraries/lib/adore_math"]
	path = libraries/lib/adore_math
	url = git@github.com:DLR-TS/adore_math.git
[submodule "libraries/lib/adore_dynamics"]
	path = libraries/lib/adore_dynamics
	url = git@github.com:DLR-TS/adore_dynamics.git
[submodule "ros2_workspace/src/conversions/adore_dynamics_conversions"]
	path = ros2_workspace/src/conversions/adore_dynamics_conversions
	url = git@github.com:DLR-TS/adore_dynamics_conversions.git
[submodule "ros2_workspace/src/conversions/adore_map_conversions"]
	path = ros2_workspace/src/conversions/adore_map_conversions
	url = git@github.com:DLR-TS/adore_map_conversions.git
[submodule "ros2_workspace/src/conversions/adore_math_conversions"]
	path = ros2_workspace/src/conversions/adore_math_conversions
	url = git@github.com:DLR-TS/adore_math_conversions.git
[submodule "ros2_workspace/src/adore_decision_maker_infrastructure"]
	path = ros2_workspace/src/decision_maker_infrastructure
	url = git@github.com:DLR-TS/adore_decision_maker_infrastructure.git
[submodule "ros2_workspace/src/adore_simulated_infrastructure"]
	path = ros2_workspace/src/simulated_infrastructure
	url = git@github.com:DLR-TS/adore_simulated_infrastructure.git
[submodule "ros2_workspace/src/adore_simulated_remote_operator"]
	path = ros2_workspace/src/simulated_remote_operator
	url = git@github.com:DLR-TS/adore_simulated_remote_operator.git
[submodule "tools/adore_model_checker"]
	path = vendor/adore_model_checker
	url = git@github.com:DLR-TS/adore_model_checker.git
[submodule "ros2_workspace/src/rplidar_ros"]
	path = ros2_workspace/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
	branch = ros2
